<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Login</title>
  	<link rel="stylesheet" type="text/css" href="css/login.css"/>
  	<link href="https://fonts.googleapis.com/css?family=Oxanium|Roboto&display=swap" rel="stylesheet">
</head>
<body>

	<form name="f" th:action="@{/login}" method="post">
		<div class="imgcontainer">
		<img src="images\avatar.png" class="avatar">
		</div>
		<div th:if="${param.error}" class="errMsg">
			Invalid user name or password.
		</div>
		<div th:if="${param.logout}" class="logMsg">
			You have been logged out.
		</div>
		<div class="container">
		<label for="username"><b>Username</b></label>
		<input type="text" placeholder="Username" name="username" required>

		<label for="password"><b>Password</b></label>
		<input type="password" placeholder="Password" name="password" required>
        
		<button type="submit">Login</button>
		<label style="margin-left:48%">or</label>
	<a href="/registration"><button type="button" >Register</button></a>
		</div>
	</form>
</body>
</html>