<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
<link rel="stylesheet" href="css/index.css"/>
<link href="https://fonts.googleapis.com/css?family=Oxanium|Roboto&display=swap" rel="stylesheet"/>
<title>Homepage</title>
<style>
body,html{
	height: 100%;
	font-family: 'Oxanium', cursive;
	background-image:url("images/lib.jpg");
		background-attachment: fixed;
		background-repeat:no-repeat;
		background-position:center center;
		background-size:cover;
		margin:0;
}
</style>
<script type="text/javascript" src="js/home.js"></script>
</head>
<body>
	<header id="nav-right">
	Welcome <span sec:authentication="name">Guest</span>
	<form sec:authorize="isAuthenticated()" id="frmlogout" th:action="@{/logout}" method="post">
		 | <a style="color:#ADFF2F; text-shadow:4px 2px 2px #FF3612" href="javascript:{}" onclick="document.getElementById('frmlogout').submit(); return false;">Logout</a>
	</form>
	</header>

	<div id="libName">Your Library - </div>
	
		<button class="btn1" id="open">Add book</button>
		<button style="float:right" class="btn1" id="deleteAll">Delete all </button>
	<table class = "myTable">
		<tr style="color:white; background-color:gray; text-shadow:none">
			<th>Id</th>
			<th>Title</th>
			<th>Description</th>
			<th>Created on</th>
			<th>Published on</th>
			<th>Author</th>
			<th>Authors Birthday</th>
			<th>Action</th>
		</tr>
	</table>

	<form id="add" action="#" class="add_form modal"
		style="display: none;">
		<button type="button" id="closeBtn" style="background-color:#00FFFF; font-size:3vw" aria-label="Close Account Info Modal Box">&times;</button>
		<div id='msg'></div>
		<h3 style="color:gold" id="bookTitle">New book</h3>
		<p>
			<label>Title</label> <input type="text" id="title" name="title">
		</p>
		<p>
			<label>Description</label> <input type="text" id="description"
				name="description">
		</p>
		<p>
			<label>Published on</label> <input type="number" min="1700"
				max="2099" id="publishedOn" name="publishedOn">
		</p>
		<p>
			<label>Author</label> <input type="text" id="author" name="author">
		</p>
		<p>
			<label>Authors Birthday</label> <input type="date"
				id="authorsBirthday" name="authorsBirthday">
		</p>
		<p id="save">
			<input type="submit" id="book" value="Save" class="sub">
		</p>
	</form>
	<footer>
		Created by Bojan Vujnovic
	</footer>
</body>
<html>